* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: tan;
}

.App-pin-container {
  display: flex;
  flex-direction: column;
}

.App-pin-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-pin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 0 5px 0;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
}